.tbl_data {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    display: table;
    box-sizing: border-box;
    text-indent: initial;

}



.table_thead tr th {
    padding: 13px 9px 15px;
    color: skyblue;
    background: #ffffffcf;
    border: 1px solid gray;
}

.table_body tr td {
    padding: 13px 9px 15px;
    color: white;
    word-wrap: break-word;
    word-break: keep-all;
    background: #555555cf;
    border: 1px solid gray;
    text-align: center;
}

.ball_645 {
    display: inline-flex;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
    font-weight: 300;
    background-color: #eadada;
    justify-content: center;
}

.ball_645 span {
    border-radius: 100%;
    width: 15px;
    margin: 3px;
}

.ball_645 .ball1 {
    background: #fbc400;
}

.ball_645 .ball2 {
    background: #69c8f2;
}

.ball_645 .ball3 {
    background: #e96353;
}

.ball_645 .ball4 {
    background: #8f8f8f;
}

.ball_645 .ball5 {
    background: #5ab545;
}
