/* Header CSS */

.header {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.logo {
    text-decoration: none;
    display: inline-block;
}

.logo img {
    width: 80px;
}

.nav {
    margin-left: auto; /* 변경된 부분: 우측으로 정렬 */
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
}

.nav li {
    line-height: 50px;
    margin: 0 15px;
}

.signUp {
    border-radius: 30px;
    border: 1px solid white;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav button {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    color: red;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav button:hover {
    background-color: #999;
}
