.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    margin: 20px auto;
}

.control {
    display: flex;
    flex-direction: column;

}

.control input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.action {
    color: yellow;
}